extend default

block content
  p.
    The Azure Cloud Guild at Capgemini is a specialized community that equips employees with 
    skills in Microsoft Azure Cloud. Experts regularly exchange insights on current cloud 
    technologies, best practices, and new developments. The guild offers workshops, training 
    sessions, and networking opportunities to deepen expertise and develop innovative cloud 
    solutions for clients. It also promotes knowledge sharing to ensure Capgemini teams stay 
    at the cutting edge of technology. In this way, the Azure Cloud Guild actively supports 
    digital transformation.
